* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);

}

h1 {
    font-family: 'Righteous', 'Arial';
    color: rgb(243, 247, 6);
    text-shadow: 2px 2px 30px rgb(243, 247, 6);
    text-align: center;
    padding-top: 25px;
    font-size: 35px;
}

.machine {
    position: relative;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 400px;
    background-color: rgb(220, 24, 24);
    border-radius: 3%;
    box-shadow: 0px 0px 20px 3px rgb(243, 247, 6);

}

.machine .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 95%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.906);
    border-style: dotted;
    border-color: rgb(243, 247, 6);

    border-radius: 0%;
    /* box-shadow: 0px 0px 20px 3px rgb(243, 247, 6); */
    border-width: 25px;
    border-spacing: 50px;
    background-color: rgb(220, 24, 24);

}



.machine .cover .inside-cover {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 95%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.906);
    /* border-radius: 3%; */
    overflow: hidden;
    justify-content: space-between;
    border: black 4px solid;

}

.screen-1,
.screen-2,
.screen-3 {
    width: 33%;
    height: 100%;
    background-color: rgb(246, 233, 213);
    /* border: 5px solid rgb(40, 39, 39); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen-1 {
    background-image: url(./images/banana_transparent.png);
}

.screen-2 {
    background-image: url(./images/cherries_transparent.png);
    background-size: 95%;
}

.screen-3 {
    background-image: url(./images/plum_transparent.png);
    background-size: 85%;
}

.panel {
    position: relative;

    text-align: center;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    /* width: 1000px; */


}

.panel ::placeholder {
    text-align: center;
}

.spin {
    width: 300px;
    height: 70px;
    font-size: 34px;
    font-family: 'Righteous', 'Arial';
    cursor: pointer;
    background-color: rgb(6, 214, 6);
    box-shadow: 0px 0px 20px 3px rgb(6, 214, 6);
    margin-left: 15px;
    transition: 0.5s;
}

.spin:hover {
    background-color: black;
    color: rgb(6, 214, 6);
    box-shadow: 0px 0px 20px 10px rgb(6, 214, 6);
    text-shadow: 2px 5px 10px rgb(6, 214, 6);

}

input {
    width: 150px;
    height: 70px;
    font-size: 34px;
    font-family: 'Righteous', 'Arial';
}

.summary {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Righteous', 'Arial';
    align-items: center;
    flex-direction: column;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(6, 214, 6);
    text-shadow: 2px 5px 30px rgb(6, 214, 6);
    height: 150px;
    width: 450px;
}

.summary p:nth-child(2),
.summary p:nth-child(5) {
    color: rgb(251, 17, 17);
    text-shadow: 2px 5px 30px rgb(251, 17, 17);
}

.summary p:nth-child(3) {
    color: rgb(243, 247, 6);
    text-shadow: 2px 2px 30px rgb(243, 247, 6);
}

footer {
    position: fixed;
    bottom: 0%;
    height: 80px;
    width: 100%;
    background-color: pink;
    line-height: 30px;
    text-align: center;
}