* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);

}

h1 {
    font-family: 'Righteous', 'Arial';
    color: rgb(243, 247, 6);
    text-shadow: 2px 2px 30px rgb(243, 247, 6);
    text-align: center;
    padding-top: 25px;
    font-size: 35px;
}

.machine {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 500px;
    background-color: rgb(220, 24, 24);
    border-radius: 3%;
    box-shadow: 0px 0px 20px 3px rgb(243, 247, 6);

}

.machine .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 95%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.906);
    border-style: dotted;
    border-color: rgb(243, 247, 6);

    border-radius: 0%;
    /* box-shadow: 0px 0px 20px 3px rgb(243, 247, 6); */
    border-width: 25px;
    border-spacing: 50px;
    background-color: rgb(220, 24, 24);

}



.machine .cover .inside-cover {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 95%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.906);
    /* border-radius: 3%; */
    overflow: hidden;
    justify-content: space-between;
    border: black 4px solid;

}

.screen-1,
.screen-2,
.screen-3 {
    width: 33%;
    height: 100%;
    background-color: rgb(246, 233, 213);
    /* border: 5px solid rgb(40, 39, 39); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.screen-1 {
    background-image: url(./images/banana_transparent.png);
}

.screen-2 {
    background-image: url(./images/cherries_transparent.png);
    background-size: 95%;
}

.screen-3 {
    background-image: url(./images/plum_transparent.png);
    background-size: 85%;
}

.panel {
    position: relative;

    text-align: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 100px;

}

.panel ::placeholder {
    text-align: center;
}

.spin {
    width: 300px;
    height: 100px;
    font-size: 34px;
    font-family: 'Righteous', 'Arial';
    cursor: pointer;
    background-color: rgb(6, 214, 6);
    box-shadow: 0px 0px 20px 3px rgb(6, 214, 6);
    margin-left: 15px;
    transition: 0.5s;
}

.spin:hover {
    background-color: black;
    color: rgb(6, 214, 6);
    box-shadow: 0px 0px 20px 10px rgb(6, 214, 6);
    text-shadow: 2px 5px 10px rgb(6, 214, 6);

}

input {
    width: 150px;
    height: 100px;
    font-size: 34px;
    font-family: 'Righteous', 'Arial';
}


/* .spin {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 50px;
}

.spin:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.spin:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


 input {
    width: 150px;
    height: 100px;
} 


/* box-shadow: 1px 1px 10px 10px yellow;
} */